<?xml version="1.0"?>
<ruleset name="EWEB-Elite-Standards">
    <description>WordPress Coding Standards for EWEB Elite Plugin Suite.</description>

    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/assets/*</exclude-pattern>

    <rule ref="WordPress-Core"/>
    <rule ref="WordPress-Docs"/>
    <rule ref="WordPress-Extra"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <value>eweb-flex-accordion-pro</value>
            </property>
        </properties>
    </rule>

    <config name="testVersion" value="8.1-"/>
</ruleset>
